@model IEnumerable<LeagueManager.Models.Side>

@{
    ViewBag.Title = "My Sides";
}

<h2>All Sides</h2>


@{ Html.RenderPartial("~/Views/Shared/_ViewSides.cshtml", Model);}


<div>
    @Html.ActionLink("Back to Leagues", "Index")
</div>

