@{
    ViewBag.Title = "Administrator";
}
<h2>@ViewBag.Title.</h2>

<h3>Links for Administrator Functions</h3>

<p>
    @Html.ActionLink("League Administration", "Index", "LeagueAdministrator")
</p>

<p>
    @Html.ActionLink("Side Administration", "Index", "SideAdministrator")
</p>

<p>
    @Html.ActionLink("Match Administration", "Index", "MatchAdministrator")
</p>