@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<p>
    <strong>Iain Bowler:</strong>   <a href="mailto:leaguemanager@jokedb.net">leaguemanager@jokedb.net</a><br />
</p>