@model LeagueManager.Models.LeagueResults

@{
    ViewBag.Title = "View League";
}

@{Html.RenderPartial("~/Views/Shared/_ViewLeagueTable.cshtml", Model); }

<div>
    @Html.ActionLink("Back to My Leagues", "Index")
</div>
